@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rajdhani:wght@600&display=swap')

body
    font-family 'Open Sans', sans-serif !important

.home .hero .description
    color #a5a5a5 !important

.sidebar-link
    display block !important
    overflow-x hidden !important
    text-overflow ellipsis !important
    white-space nowrap !important

.suggestions .suggestion span
    white-space nowrap !important
    overflow hidden !important
    text-overflow ellipsis !important
    display block !important
    width 19rem !important

.page-nav span.prev,
.page-nav span.next
    border 1px solid #e4e4e4 !important
    border-radius 25px !important
    padding 5px 10px !important
    display inline-block !important
    margin-bottom 5px !important

    &:hover
        background-color #f9f9f9 !important

.navbar .site-name
    color #d71600 !important
    font-size 2rem !important
    line-height 2rem !important

h1, h2, h3, h4, h5, h6,
.navbar .site-name
    font-family 'Rajdhani', sans-serif !important
