.home .hero .description
    color #a5a5a5 !important

.sidebar-link
    display block !important
    overflow-x hidden !important
    text-overflow ellipsis !important
    white-space nowrap !important

.suggestions .suggestion span
    white-space nowrap !important
    overflow hidden !important
    text-overflow ellipsis !important
    display block !important
    width 19rem !important

.page-nav span.prev,
.page-nav span.next
    border 1px solid #e4e4e4 !important
    border-radius 25px !important
    padding 5px 10px !important
    display inline-block !important
    margin-bottom 5px !important

    &:hover
        background-color #f9f9f9 !important

.navbar .site-name
    display none !important