// colors
$accentColor = #D71600
$textColor = #16181A
$borderColor = #e4e4e4
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #D71600
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961